* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* rem: 16px */
}

article {
}

body {
  margin: 0 auto;
  max-width: 900px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Helvetica", "Arial", "Noto Sans", sans-serif;
  background: #fafaeb;

  display: grid;
  row-gap: 0.375rem;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto 30px;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer"
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
}

header {
  grid-area: header;
  justify-self: left;
  align-self: end;
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 2px solid gray;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
  justify-self: right;
  align-self: end;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

nav a {
  margin-left: 2rem;
  text-align: right;
}

footer {
  grid-area: footer;
  justify-self: center;
  align-self: end;
}

/* Colors */
a, a:visited {
  color: #ffa64d;
}

body {
  color: #444;
}

h1, h2, strong {
  color: #222;
}

p {
}

