/* Nullifies any implicit margins/paddings/borders etc. */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #fafaeb;
  color: #060606;
}

.everything {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

.top_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 2px solid #4C0068;
  border-bottom: 2px solid #4C0068;
  margin-top: 0.5em;
  background: #7C3098;
}

.header {
  margin: 7px 2em;
  flex-grow: 4;
}

.photo img {
  max-width: 3cm;
  max-height: 5cm;
  height: auto;
  width: auto;
  border: 1px solid #060606;
}


.footer {
  border-top: 2px solid #4C0068;
  margin-bottom: 0.5em;
}
