/* Nullifies any implicit margins/paddings/borders etc. */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #fafaeb;
  color: #060606;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

ul, li {
  border: 0;
  margin: 0;
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-family: 'Zilla Slab', serif;
  font-size: 1.9em;
  font-weight: 400;
}

.everything {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
}

.top_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 2px solid #4C0068;
  border-bottom: 2px solid #4C0068;
  margin-top: 0.5em;
}

.header {
  margin: 7px 2em;
  flex-grow: 4;
}

.photo img {
  max-width: 3cm;
  max-height: 5cm;
  height: auto;
  width: auto;
  border-left: 2px solid #4C0068;
  border-right: 2px solid #4C0068;
  border-bottom: 2px solid #4C0068;
}

.middle_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  /* background: #cf3f3f; */
  flex-basis: 50%;
  flex-grow: 1;
  text-align: left;
}

.spacer {
  flex-grow: 1;
  width: 5%;
}

.workplace_container {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

.footer {
  border-top: 2px solid #4C0068;
  margin-bottom: 0.5em;
}

.left_and_right {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.bold {
  font-weight: 700;
}
.grow {
  flex-grow: 1;
}
.dots {
  border-bottom: 2px dotted #060606;
  margin: 0 10px;
}
.emphasis {
  font-style: italic;
}

