/* Nullifies any implicit margins/paddings/borders etc. */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
  border: 0;
  margin: 0;
  padding: 0;
}

ul, li {
  border: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: $fntLato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
}

a, a:visited {
  color: $clBlue;
  text-decoration: none;
  /*
  &::after {
    content: "🔗";
    vertical-align: super;
    font-size: 0.75rem;
    padding-left: 0.125rem;
    visibility: hidden;
  }
  */
}

a:hover, a:visited:hover {
  text-decoration: underline;
  text-shadow: 0 0 0.25rem $clBlue;

  &::after {
    text-decoration: none;
    visibility: visible;
  }
}

body {
  background-color: $clSiteBackground;
  color: $clBlack;
  line-height: 1;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-st {
    align-items: stretch;
  }
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.date {
  white-space: nowrap;
  margin-left: 2rem;
}

.footer {
  border-top: 0.125rem solid $clViolet;
  text-align: center;
  margin: 1.5rem 0;
  padding: 0.125rem;
}

.keep-together {
  white-space: nowrap;
}
