@import "constants";
@import "sane_defaults";

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  background-color: $clWhite;
  color: $clBlack;
}
