// For devices of width > 799px, displays header in one row.
// The elements are reordered such that the photo is to the left,
// the contact table is to the right and the hook occupies
// all the remaining space in the middle.
.header {
  flex-wrap: nowrap;
  border: 0.125rem solid $clViolet;
  margin-top: 0.5rem;
}
.header :nth-child(1) { order: 1; }
.header :nth-child(2) { order: 3; }
.header :nth-child(3) { order: 2; }

// For devices of width <= 799px, breaks header in two rows
// with first row containing photo & contact data and second row containing the hook.
@media (max-width: 799px) {
  .header {
    flex-wrap: wrap;
  }
  .header :nth-child(1) { order: 1; }
  .header :nth-child(2) { order: 2; }
  .header :nth-child(3) { order: 3; width: 100%; }

  .header .profile_photo {
    border-bottom: 2px solid $clViolet;
  }
}

.profile_photo {
  align-self: stretch;
  max-height: 10rem;
  max-width: 25%;
  width: auto;
  height: auto;
  border-right: 2px solid $clViolet;
}

.hook {
  text-align: center;
  flex-grow: 1;

  p {
    font-family: $fntZilla, serif;
    font-weight: 300;
    font-size: 1.1rem;
  }
}

h1 {
  font-family: $fntZilla, serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: $fntZilla, serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.contact {
  td {
    padding: 0.25rem;
    padding-left: 0.75rem;
  }
  td:first-child {
    padding-left: 0.25rem;
  }
}

